%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
.icon-viber:before {
	content: "\e900";
}
.icon-WhatsApp:before {
	content: "\e901";
}
.icon-telegramm:before {
	content: "\e902";
}
.icon-home:before {
	content: "\e907";
}
.icon-home1:before {
	content: "\e908";
}
.icon-cart:before {
	content: "\e93a";
}
.icon-phone:before {
	content: "\e942";
}
