body {
  color: #000000;
  background: #f7f7f7;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-discover {
  min-height: 700px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-discover__img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-discover__title {
  max-width: 650px;
  position: relative;
  padding: 0 5px;
  z-index: 10;
  font-size: 27px;
  font-size: 27px;
  line-height: 38px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 37px;
  color: white;
}

.main-discover__btn {
  position: relative;
  z-index: 10;
  line-height: 20px;
  font-size: 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 33px;
  min-width: 204px;
  border: 1px solid white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-discover__link {
  min-height: 50px;
  max-width: 325px;
  color: white;
  font-family: Cardo;
  font-size: 15px;
  line-height: 20px;
  padding: 5px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
  bottom: 3px;
  left: 10px;
  background: #000000;
  opacity: 1;
  overflow: visible;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-animation-name: discover-link;
          animation-name: discover-link;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes discover-link {
  0% {
    opacity: 0;
    overflow: hidden;
    left: -100%;
  }

  100% {
    opacity: 1;
    overflow: visible;
    left: 10px;
  }
}

@keyframes discover-link {
  0% {
    opacity: 0;
    overflow: hidden;
    left: -100%;
  }

  100% {
    opacity: 1;
    overflow: visible;
    left: 10px;
  }
}

.main-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 10px;
  min-height: 155px;
}

.main-advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  gap: 10px;
}

.main-advantages__text {
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  text-underline-offset: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-advantages__text:hover {
  -webkit-text-decoration-color: #000000;
          text-decoration-color: #000000;
}

.main-catalog {
  position: relative;
}

.swiper-catalog {
  overflow: hidden;
  padding: 10px 0;
  margin-bottom: 105px;
  margin-bottom: 105px;
}

.swiper-catalog__wrapper {
  width: 100%;
  height: 100%;
}

.swiper-catalog__slide {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}

.item-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-catalog:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.item-catalog:nth-child(2n) .item-catalog__content {
  text-align: left;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
}

.item-catalog:nth-child(2n) .item-catalog__text {
  margin-left: -26px;
}

.item-catalog__content {
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: right;
}

.item-catalog__favorite {
  font-family: Cardo;
  margin-bottom: 20px;
  font-style: italic;
  color: #bc1414;
  font-size: 14px;
  line-height: 29px;
}

.item-catalog__title {
  font-size: 33px;
  line-height: 55px;
  font-weight: 700;
  margin-bottom: 4px;
}

.item-catalog__subTitle {
  font-family: Cardo;
  font-size: 18px;
  line-height: 37px;
  font-style: italic;
  margin-bottom: 23px;
}

.item-catalog__price {
  font-family: Cardo;
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 12px;
}

.item-catalog__text {
  margin-right: -26px;
  font-family: Cardo;
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
  margin-bottom: 23px;
  color: #54595f;
}

.item-catalog__ifo {
  font-family: Cardo;
  font-size: 16px;
  line-height: 27px;
  color: #54595f;
  margin-bottom: 48px;
}

.item-catalog__link {
  line-height: 22px;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #000000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.item-catalog__img img {
  height: 542px;
}

.main-gallery__title {
  max-width: 404px;
  font-family: Cardo;
  font-weight: 700;
  color: #3a3a3a;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  margin: 0 auto;
}

.main-gallery__text {
  max-width: 497px;
  font-family: Cardo;
  color: #3a3a3a;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  padding-bottom: 15px;
  margin: 21px auto;
}

.main-gallery__swiper {
  max-width: 1120px;
  overflow: hidden;
  margin: 0 auto;
}

.main-gallery__slide {
  position: relative;
}

.main-gallery__link {
  position: absolute;
  top: 41px;
  right: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.main-gallery__link::before {
  content: url("../img/icon/iconCard.png");
  margin-right: 6px;
}

.main-gallery__dotts {
  margin-top: 20px;
  margin-bottom: 130px;
  text-align: center;
}

.main-gallery__dotts span {
  border-radius: 0;
  background: #000000;
  width: 10px;
  height: 10px;
}

.feedback {
  overflow: hidden;
}

.feedback__slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Cardo;
  padding: 0 5px;
  max-width: 100%;
}

.feedback__text {
  max-width: 1190px;
  margin-bottom: 37px;
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
  color: #020202;
}

.feedback__author {
  font-size: 15px;
  line-height: 21px;
}

.feedback__dottsBox {
  position: relative;
  min-height: 10px;
  margin-top: 50px;
  margin-bottom: 95px;
}

.feedback__dotts {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__dotts span {
  border-radius: 0;
  width: 3px;
  height: 3px;
  background: #000000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.feedback__dotts span.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
}

.feedback__dotts span.swiper-pagination-bullet-active + .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
}

.card-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 135px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-info__item {
  max-width: 360px;
  min-height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5px 38px;
  font-family: Cardo;
}

.card-info__item:nth-child(odd) {
  background: white;
}

.card-info__title {
  margin: 29px 0 12px 0;
  font-size: 24px;
  line-height: 35px;
  text-transform: uppercase;
}

.card-info__text {
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 27px;
}

.card-info__link {
  font-family: Cardo;
  font-size: 15px;
  line-height: 15px;
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 4px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.about-info {
  text-align: center;
  padding: 0 5px;
}

.about-info__title {
  font-size: 20px;
  line-height: 26px;
  font-family: Cardo;
  margin-bottom: 41px;
  color: #454545;
  letter-spacing: 0.3px;
}

.about-info__swiper {
  overflow: hidden;
  max-width: 1380px;
  margin: 0 auto;
}

.about-info__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 104px;
}

.about-info__dottsBox {
  position: relative;
  min-height: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.about-info__dotts {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-info__dotts span {
  border-radius: 0;
  width: 3px;
  height: 3px;
  background: #000000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about-info__dotts span.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
}

.about-info__dotts span.swiper-pagination-bullet-active + .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
}

@media (max-width: 1440px) {
  .main-discover {
    min-height: calc(
				250px + 450 *
					((100vw - 320px) / 1120)
			);
  }

  .main-discover__title {
    font-size: calc(
				16px + 11 *
					((100vw - 320px) / 1120)
			);
  }

  .main-discover__title {
    line-height: calc(
				28px + 10 *
					((100vw - 320px) / 1120)
			);
  }

  .main-discover__title {
    margin-bottom: calc(
				20px + 17 *
					((100vw - 320px) / 1120)
			);
  }

  .main-discover__link {
    min-height: calc(
				35px + 15 *
					((100vw - 320px) / 1120)
			);
  }

  .swiper-catalog {
    margin-bottom: calc(
				30px + 75 *
					((100vw - 320px) / 1120)
			);
  }

  .main-catalog__list {
    gap: calc(
				15px + 15 *
					((100vw - 320px) / 1120)
			);
  }

  .main-catalog__list {
    margin-bottom: calc(
				20px + 20 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog:nth-child(2n) .item-catalog__content {
    padding-top: calc(
				10px + 40 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog:nth-child(2n) .item-catalog__content {
    padding-right: calc(
				10px + 10 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog:nth-child(2n) .item-catalog__content {
    padding-left: calc(
				10px + 40 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog:nth-child(2n) .item-catalog__content {
    padding-bottom: calc(
				10px + 10 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__content {
    padding-top: calc(
				10px + 40 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__content {
    padding-right: calc(
				10px + 40 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__content {
    padding-left: calc(
				10px + 10 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__content {
    padding-bottom: calc(
				10px + 10 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__favorite {
    margin-bottom: calc(
				10px + 10 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__favorite {
    line-height: calc(
				18px + 11 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__title {
    font-size: calc(
				26px + 7 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__title {
    line-height: calc(
				45px + 10 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__subTitle {
    line-height: calc(
				27px + 10 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__subTitle {
    margin-bottom: calc(
				10px + 13 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__price {
    line-height: calc(
				20px + 7 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__text {
    line-height: calc(
				22px + 8 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__text {
    margin-bottom: calc(
				10px + 13 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__ifo {
    line-height: calc(
				22px + 5 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__ifo {
    margin-bottom: calc(
				15px + 33 *
					((100vw - 320px) / 1120)
			);
  }

  .item-catalog__img img {
    height: calc(
				200px + 342 *
					((100vw - 320px) / 1120)
			);
  }

  .main-gallery__title {
    font-size: calc(
				25px + 5 *
					((100vw - 320px) / 1120)
			);
  }

  .main-gallery__title {
    line-height: calc(
				32px + 7 *
					((100vw - 320px) / 1120)
			);
  }

  .main-gallery__text {
    font-size: calc(
				17px + 1 *
					((100vw - 320px) / 1120)
			);
  }

  .main-gallery__text {
    line-height: calc(
				26px + 7 *
					((100vw - 320px) / 1120)
			);
  }

  .main-gallery__text {
    padding-bottom: calc(
				0px + 15 *
					((100vw - 320px) / 1120)
			);
  }

  .main-gallery__dotts {
    margin-bottom: calc(
				20px + 110 *
					((100vw - 320px) / 1120)
			);
  }

  .feedback__text {
    margin-bottom: calc(
				20px + 17 *
					((100vw - 320px) / 1120)
			);
  }

  .feedback__dottsBox {
    margin-top: calc(
				20px + 30 *
					((100vw - 320px) / 1120)
			);
  }

  .feedback__dottsBox {
    margin-bottom: calc(
				30px + 65 *
					((100vw - 320px) / 1120)
			);
  }

  .card-info__list {
    margin-bottom: calc(
				25px + 110 *
					((100vw - 320px) / 1120)
			);
  }

  .about-info__title {
    margin-bottom: calc(
				20px + 21 *
					((100vw - 320px) / 1120)
			);
  }

  .about-info__dottsBox {
    margin-top: calc(
				20px + 20 *
					((100vw - 320px) / 1120)
			);
  }

  .about-info__dottsBox {
    margin-bottom: calc(
				20px + 20 *
					((100vw - 320px) / 1120)
			);
  }
}

@media (max-width: 1250px) {
  .item-catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item-catalog:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item-catalog:nth-child(2n) .item-catalog__content {
    text-align: center;
  }

  .item-catalog__content {
    text-align: center;
  }

  .item-catalog__text {
    max-width: 370px;
    margin-right: 0px;
  }
}

@media (max-width: 767.98px) {
  .main-advantages__item {
    width: 45%;
  }
}

@media (max-width: 479.98px) {
  .main-advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-advantages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .item-catalog:nth-child(2n) .item-catalog__text {
    margin-left: 0px;
  }
}

@media (any-hover: hover) {
  .main-discover__btn:hover {
    background-color: #e60f4b;
  }

  .swiper-catalog__slide:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    z-index: 5;
  }

  .item-catalog__link:hover {
    color: #e60f4b;
  }

  .card-info__link:hover {
    color: #e60f4b;
  }
}